*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

:root{

  /* text color */
  --text-black: black;
  --text-white: white;
  --text-lightgrey: lightslategrey;
  --text-green: green;
  --text-red: red;

  /* background */
  --body-bg: #e7e6e6;
  --bg-white: white;
  --bg-lightblue: rgb(87 162 255);
  --bg-purple: rgb(195, 104, 255);
  --bg-green: rgb(76, 167, 124);
  --bg-orange: rgb(250, 161, 28);
  --bg-fuchsia: rgb(241, 54, 201);
  --bg-water_green: rgb(176, 222, 50);

  /* border  */
  --btn-lightgrey-border: lightslategrey;
  --btn-lightblue-border: rgb(87 162 255);
  --border-green: green;
  --border-red: red;
  --border-buttons: rgb(211, 211, 211);

}

/* #region utilities */

body{
  background: var(--body-bg);
}

/* #endregion utilities */

/* #region header */

header{
  width: 100%;
  background-color: var(--bg-white);
  padding: 10px 20px ;
  margin-bottom: 40px;
}

.img-logo{
  height: 100%;
  vertical-align: middle;
}

.principal-title{
  line-height: 50px;
  font-size: 30px;
  font-weight: 900;
  vertical-align: middle;
  display: inline;
}

/* #endregion header */

/* #region main */

main{
  width: 70%;
  border-radius: 0.5rem;
  margin: 40px auto;
  background-color: var(--bg-white);
}

.container{
  padding: 15px 0 10px 50px;
}

/* #region button */
 
.container-btn{
  border-bottom: 1px solid var(--border-buttons);
  vertical-align: middle;
}

.btn{
  border-radius: 0.25rem;
  padding: 5px 5px;
  font-size: small;
} 

.add-task{
  color: var(--text-white);
  background-color: var(--bg-lightblue);
  border: 1px solid var(--btn-lightblue-border);
}

.add-section{
  color: var(--text-lightgrey);
  border: 1px solid var(--btn-lightgrey-border);
  background-color: var(--bg-white);
}

 /* #endregion button */

/* #region list */

.container-list{
 margin-bottom: 35px;
 margin-top: 35px;
}

.list-title{
 height: 30px;
 font-size: 1.3em;
 margin-bottom: 5px;
 padding: auto;
}

.task-item{
  height: 20px;
  margin-bottom: 10px;
}

.status{
 display: inline-block;
 border-radius: 50%;
 width: 16px;
 height: 16px;
 line-height: 16px;
 text-align: center;
 vertical-align: middle;
 font-size: 12px;
}

.done{
  color: var(--text-green);
  border: 1px solid var(--border-green);
}

.undone{
  color: var(--text-red);
  border: 1px solid var(--border-red);
}

.task-text{
 font-weight: 500;
}

.badge{
  padding: 4px 10px;
  font-size: 10px;
  border-radius: 9px;
  color: white;
  border-color: transparent;
}

.editorial{
  background-color: var(--bg-lightblue);
}

.q1-Goals{
 background-color: var(--bg-purple);
}

.recruiting{
  background-color: var(--bg-green);
}

.mobile{
  background-color: var(--bg-orange);
}

.website{
  background-color: var(--bg-fuchsia);
}

.sales{
  background-color: var(--bg-water_green);
}


/* #endregion list */

/* #endregion main */


